@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
