@import "variables";
.menu {
  transform: none !important;
  top: 0;
  height: 100vh;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 640px;
  outline: none;
  z-index: 99999;
  background: $primary-black;
  pointer-events: auto;

  &__top {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
    background: $primary-black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__main {
    height: 100%;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          padding: 16px;

          a {
            display: flex;
            align-items: center;
            img {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}