@import "variables";
.product {
  padding: 0 150px 24px;
  height: 80vh;
  overflow: scroll;
  background: $secondary-black;
  outline: none;

  &__wrapper {
    margin: 100px auto 0;
    width: 100%;
    max-width: 1280px;
    outline: none;
  }
  &__decor {
    height: 24px;
    position: sticky;
    top: calc(100% - 24px);
    left: 0;
    right: 0;
    background: $secondary-black;
  }

  &__close {
    height: 48px;
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    background: $secondary-black;
    top: 0;
    z-index: 999;

    img {
      width: 24px;
      cursor: pointer;
    }
  }
  &__images {
    display: flex;
    &_active {
      margin-left: 16px;
      height: 500px;
      width: 360px;
    }
    &_current {
      border: 1px solid $main-color;
    }
  }
  &__content {
    display: flex;
  }

  &__main {
    margin-left: 32px;
    h2 {
      margin-bottom: 4px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__video {
    padding-top: 50px;
    padding-right: 100px;
    display: flex;
    align-items: flex-start;
    &_image {
      &:after {
        content: url("../public/images/icons/play.svg");
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        transform: translateY(-60%) translateX(-50%);
      }
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: $primary-grey;
  }
  &__raiting {
    margin-bottom: 32px;
    position: relative;
    width: min-content;
    div {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      backdrop-filter: grayscale(100%);
    }
  }
  &__buy {
    display: flex;
    margin-bottom: 32px;
  }
  &__item_price {
    display: flex;
    align-items: flex-end;
    margin-right: 32px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  &__price {
    align-self: flex-end;
    margin-right: 32px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    & > span {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__discount {
    font-size: 14px;
    line-height: 24px;
    span:last-child {
      margin-left: 4px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: $green;
    }
  }
  &__components {
    margin-bottom: 32px;
    p {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
    }
    ul {
      margin-left: 24px;
      list-style: disc;
      li {
        color: $primary-grey;
        font-size: 16px;
        line-height: 24px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
  &__delivery {
    p {
      font-size: 16px;
      line-height: 24px;
      color: $primary-grey;
      margin-bottom: 8px;
    }
    p:first-child {
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1280px) {
  .product {
    padding: 0 70px 24px;
  }
}

@media screen and (max-width: 1024px) {
  .product {
    height: 80vh;
    overflow: scroll;
    background: $secondary-black;
    outline: none;

    &__wrapper {
      margin: 100px auto 0;
      width: 100%;
      max-width: 1280px;
      outline: none;
    }
    &__decor {
      height: 24px;
      position: sticky;
      top: calc(100% - 24px);
      left: 0;
      right: 0;
      background: $secondary-black;
    }

    &__close {
      height: 48px;
      padding: 0 24px;
      display: flex;
      justify-content: flex-end;
      position: sticky;
      background: $secondary-black;
      top: 0;
      z-index: 999;

      img {
        width: 24px;
        cursor: pointer;
      }
    }
    &__images {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      margin-bottom: 30px;
      &_active {
        margin-left: 0;
        margin-bottom: 30px;
        height: 500px;
        width: 360px;
      }
      &_current {
        border: 1px solid $main-color;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__main {
      margin-left: 32px;
      h2 {
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }
    }
    &__video {
      display: none;
      &_image {
        &:after {
          content: url("../public/images/icons/play.svg");
          position: absolute;
          width: 32px;
          height: 32px;
          top: 50%;
          left: 50%;
          transform: translateY(-60%) translateX(-50%);
        }
      }
    }
    &__subtitle {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;
      color: $primary-grey;
    }
    &__raiting {
      margin-bottom: 32px;
      position: relative;
      width: min-content;
      div {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        backdrop-filter: grayscale(100%);
      }
    }
    &__buy {
      display: flex;
      margin-bottom: 32px;
    }
    &__item_price {
      display: flex;
      align-items: flex-end;
      margin-right: 32px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
    &__price {
      align-self: flex-end;
      margin-right: 32px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      & > span {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }
    }
    &__discount {
      font-size: 14px;
      line-height: 24px;
      span:last-child {
        margin-left: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $green;
      }
    }
    &__components {
      margin-bottom: 32px;
      p {
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
      }
      ul {
        margin-left: 24px;
        list-style: disc;
        li {
          color: $primary-grey;
          font-size: 16px;
          line-height: 24px;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }
    &__delivery {
      p {
        font-size: 16px;
        line-height: 24px;
        color: $primary-grey;
        margin-bottom: 8px;
      }
      p:first-child {
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    padding: 0 16px 16px;
    height: 80vh;
    overflow: scroll;
    background: $secondary-black;
    outline: none;

    &__wrapper {
      margin: 100px auto 0;
      width: 100%;
      max-width: 1280px;
      outline: none;
    }
    &__decor {
      height: 24px;
      position: sticky;
      top: calc(100% - 24px);
      left: 0;
      right: 0;
      background: $secondary-black;
    }

    &__close {
      height: 48px;
      padding: 0 24px;
      display: flex;
      justify-content: flex-end;
      position: sticky;
      background: $secondary-black;
      top: 0;
      z-index: 999;

      img {
        width: 24px;
        cursor: pointer;
      }
    }
    &__images {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      margin-bottom: 30px;
      &_active {
        margin-left: 0;
        margin-bottom: 30px;
        height: 290px;
        width: 230px;
      }
      &_current {
        border: 1px solid $main-color;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__main {
      margin-left: 0;
      h2 {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &__video {
      display: none;
      &_image {
        &:after {
          content: url("../public/images/icons/play.svg");
          position: absolute;
          width: 32px;
          height: 32px;
          top: 50%;
          left: 50%;
          transform: translateY(-60%) translateX(-50%);
        }
      }
    }
    &__subtitle {
      font-size: 12px;
      line-height: 16px;
    }
    &__raiting {
      margin-bottom: 32px;
      position: relative;
      width: min-content;
      div {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        backdrop-filter: grayscale(100%);
      }
    }
    &__buy {
      display: flex;
      margin-bottom: 32px;
    }
    &__item_price {
      display: flex;
      align-items: flex-end;
      margin-right: 32px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
    &__price {
      align-self: flex-end;
      margin-right: 32px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      & > span {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
      }
    }
    &__discount {
      font-size: 14px;
      line-height: 24px;
      span:last-child {
        margin-left: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $green;
      }
    }
    &__components {
      margin-bottom: 32px;
      p {
        font-size: 14px;
        line-height: 24px;
      }
      ul {
        margin-left: 24px;
        list-style: disc;
        li {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    &__delivery {
      p {
        font-size: 14px;
        line-height: 24px;
      }
      p:first-child {
        font-size: 14px;
        line-height: 24px;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}