@import "fonts";

//Colors
$main-color: #C86B46;
$main-color-hover: #A85A3B;
$main-color-active: #985135;
$main-color-disabled: #533022;

$primary-white: #E7F1F3;
$secondary-white: #FFFFFF;
$primary-grey: #BEC7D7;
$secondary-grey: #777A83;
$primary-black: #101315;
$secondary-black: #181B1D;
$red: #DC4D2E;
$green: #52AE51;
$dark-grey: #2F3234;
$dark-grey-hover: #232628;

//Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Playfair Display', serif;

//Transitions
$main-transition: all 0.3s ease-in-out;